<footer class="footer-block container-fluid px-0 bg-dark text-white py-5">
    <div class="footer-container container">
        <div class="footer-row row">
            <div class="footer-col col-2">
                <h2><img src="{{ site.baseurl }}assets/images/logo.svg" class="footer-brand" width="100px" alt=""></h2>
            </div>
            <div class="footer-col col-2">
                <ul class="footer-list list-unstyled p-0 m-0">
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                </ul>
            </div>
            <div class="footer-col col-2">
                <ul class="footer-list list-unstyled p-0 m-0">
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                    <li><i class="bi bi-arrow-right-short footer-sprite"></i> First Item</li>
                </ul>
            </div>
            <div class="footer-col col-5">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Enter your Email address to Subscribe to our Newsletter</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe to Newsletter</button>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="bg-dark text-white container-fluid px-0 text-center py-3 border-top">
    <p class="p-0 m-0">Designed by Brainloggers with Love</p>
</div>