<div class="bg-accent">
    <div class="container d-flex justify-content-space-between py-2">
        <div>
            <ul class="list-unstyled p-0 m-0 d-flex align-items-center">
                <li class="d-inline"><a href="mailto:{{site.email}}" class="text-decoration-none text-dark d-flex align-items-center me-2 navigation-font-sm"><i class="bi-envelope-fill navigation-icon"></i>{{ site.email }}</a></li>
                <li class="d-inline"><a href="tel:{{site.socials.phone}}" class="text-decoration-none text-dark d-flex align-items-center me-2 navigation-font-sm"><i class="bi-telephone-fill navigation-icon"></i>{{ site.socials.phone }}</a></li>
            </ul>
        </div>
        <div>
            <ul class="list-unstyled p-0 m-0">
                <li class="d-inline"><a href="/" class="text-decoration-none text-dark"><i class="bi-facebook navigation-icon"></i></a></li>
                <li class="d-inline"><a href="/" class="text-decoration-none text-dark"><i class="bi-whatsapp navigation-icon"></i></a></li>
                <li class="d-inline"><a href="/" class="text-decoration-none text-dark"><i class="bi-instagram navigation-icon"></i></a></li>
                <li class="d-inline"><a href="/" class="text-decoration-none text-dark"><i class="bi-youtube navigation-icon"></i></a></li>
            </ul>
        </div>
    </div>

</div>