.hero-block{
    padding-bottom: 7rem;
    .hero-container{
        .hero-text{
            padding: 0 8rem 0 8rem;
            h1{
                font-size: 2rem;
            }
        }
        .hero-btn{
            
        }
    }
}

.services-columns{
    margin-top: -100px;
    position: relative;
    z-index: 10;
    // DEPRICATED STYLES
    // position: absolute;
    // left: 50%;
    // // top: -50%;
    // transform: translate(-50%);
    .row{
        border-radius: 2rem;
        overflow: hidden;
        .service-col{
            .service-icon{
                .service-icon-styled{
                    @extend .d-flex, .justify-content-center, .align-items-center;
                    background: white;
                    width: 5rem; height: 5rem;
                    border-radius: 50%;
                    .service-sprite{
                        font-size: 2rem;
                    }
                }
            }
            h2{
                font-size: 1.4rem;
            }
            p{
                margin: 0;
                padding: 0;
                font-size: 14px;
            }
        }
    }
}