<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-8 order-2">
            <h2>Education at it's finest.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime molestias enim incidunt explicabo sint minima recusandae? Voluptatem voluptatibus fugiat minima, quaerat aperiam explicabo quod a ad? Error incidunt veritatis assumenda!<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, accusamus debitis possimus accusantium eum vitae alias fugit odit aspernatur, nesciunt eaque, harum ullam veritatis cupiditate unde suscipit vero temporibus eveniet?<br><br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, dolor accusamus officia possimus, tempore beatae deleniti, porro illum vero est ad aliquam et eveniet natus inventore recusandae earum assumenda dolores.</p>
            <a href="/" class="btn btn-lg btn-success">Learn More</a>
        </div>
        <div class="col-4 order-1">
            <img src="{{ site.baseurl }}assets/images/right-press/prism.jpg" alt="Prism" class="img-fluid border-curve-lg shadow" height="500px">
        </div>
    </div>
</div>