<div class="hero-block bg-primary position-relative">
    <div class="container hero-container text-center py-5">
        <div class="hero-text">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa ad saepe distinctio neque minus cumque obcaecati fugit nobis officiis, iure ipsum. Dolor laudantium eveniet perferendis tenetur fuga laborum maxime quibusdam!</p>
        </div>
        <a href="/" class="btn btn-lg btn-danger hero-btn">Learn More</a>
    </div>
</div>