<div class="services-columns container">
    <div class="row">
        <div class="col-4 text-center service-col bg-danger p-4">
            <div class="service-icon d-flex justify-content-center mb-3">
                <div class="service-icon-styled"><i class="bi-telephone-fill service-sprite"></i></div>
            </div>
            <h2>Service Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id delectus corrupti sint repellat harum, maxime ex ipsam quibusdam voluptatum praesentium blanditiis saepe temporibus natus magnam dolorum. Aliquid, et debitis!</p>
        </div>
        <div class="col-4 text-center service-col bg-warning p-4">
            <div class="service-icon d-flex justify-content-center mb-3">
                <div class="service-icon-styled"><i class="bi-telephone-fill service-sprite"></i></div>
            </div>
            <h2>Service Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id delectus corrupti sint repellat harum, maxime ex ipsam quibusdam voluptatum praesentium blanditiis saepe temporibus natus magnam dolorum. Aliquid, et debitis!</p>
        </div>
        <div class="col-4 text-center service-col bg-success p-4">
            <div class="service-icon d-flex justify-content-center mb-3">
                <div class="service-icon-styled"><i class="bi-telephone-fill service-sprite"></i></div>
            </div>
            <h2>Service Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id delectus corrupti sint repellat harum, maxime ex ipsam quibusdam voluptatum praesentium blanditiis saepe temporibus natus magnam dolorum. Aliquid, et debitis!</p>
        </div>
    </div>
</div>