<div class="cta-block container-fluid px-0 bg-primary mt-5">
    <div class="cta-container container py-5">
        <div class=" cta-row row row-cols-3 py-5">
            <div class="cta-col col text-center border-end">
                <div class="cta-icon"><i class="bi-telephone-fill cta-sprite"></i></div>
                <h2>200</h1>
                <p>All fine and young students</p>
            </div>
            <div class="cta-col col text-center border-end">
                <div class="cta-icon"><i class="bi-telephone-fill cta-sprite"></i></div>
                <h2>200</h1>
                <p>All fine and young students</p>
            </div>
            <div class="cta-col col text-center">
                <div class="cta-icon"><i class="bi-telephone-fill cta-sprite"></i></div>
                <h2>200</h1>
                <p>All fine and young students</p>
            </div>
        </div>
    </div>
</div>